@import "../../variable.scss";

* {
  margin: 0;
}

.background {
  display: flex;
  background: $gradient180deg;
  height: 100vh;
  width: 100%;
}
.titleSubscribe {
  display: flex;
  writing-mode: vertical-lr;
  color: $colorLight;
  transform: rotate(-180deg);
  font-size: 3rem;
  font-family: $fontFamily;
  margin-top: 1.5vh;
}

.contentAside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.test {
  display: inline;
  background-color: yellowgreen;
}
.subscribeForm {
  display: flex;
  flex-direction: column;
  background-color: $colorLight;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  font-size: 0.9rem;
  font-family: $fontFamily;
  padding-left: 1rem;
  height: 100%;
  width: clamp(0rem, 95vw + 2rem, 100rem);
}

.labelSubscribe {
  font-size: 1rem;
  margin-bottom: 0.1rem;
}
.inputSubscribe {
  padding: 0.4rem;
  border: double 1.5px transparent;
  border-radius: 30px;
  background-image: linear-gradient($colorLight, $colorLight), $gradient180deg;
  background-origin: border-box;
  background-clip: padding-box, border-box;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.6);
  height: 0.8vh;
}

.lastName,
.firstName,
.pictureProfil,
.email,
.gender,
.birthdate,
.zipcode,
.city,
.password,
.confirmPassword {
  border: none;
  margin: 0;
  padding: 0;
  color: $colorDark;
  display: flex;
  align-items: left;
  flex-direction: column;
  margin-right: 1rem;
  margin-top: 0.5rem;
}
.submit {
  background: $gradient180deg;
  color: $colorLight;
  width: 7rem;
  height: 3rem;
  text-align: center;
  font-size: 1.2rem;
  border: 7rem;
  border-color: $colorDark;
  border-radius: $borderButton;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.6);
}

.containerSubmit {
  display: flex;
  justify-content: flex-end;
  margin-top: 3vh;
  margin-right: 4vw;
}

.error {
  color: red;
  font-family: $fontFamily;
  font-size: 0.65rem;
  margin-top: 0.6vh;
  margin-left: 1vw;
}

.backButton_subscribe {
  position: fixed;
  bottom: 1rem;
}

.addPicture {
  width: 6rem;
  height: auto;
}

.inputPictureProfil {
  display: none;
  visibility: none;
  cursor: pointer;
}

.labelPicture {
  margin: 0;
  width: 0.1rem;
}

.group-picture {
  display: flex;
}
.NamesElements {
  width: 85%;
}
