@import "../../variable.scss";
@mixin navigationButtonGradient90(
  $color,
  $width,
  $height,
  $font-size,
  $margin-bottom
) {
  background: $color;
  width: $width;
  height: $height;
  font-size: $font-size;
  margin-bottom: $margin-bottom;
}

@mixin navigationButtonMargin($width, $heigth) {
  width: $width;
  height: $heigth;
}

* {
  font-family: $fontFamily;
}
.profile {
  background-color: $colorLight;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
}
