@import "../../variable.scss";
@mixin style1($color, $width, $height, $font-size, $margin-bottom) {
  background: $color;
  width: $width;
  height: $height;
  font-size: $font-size;
  margin-bottom: $margin-bottom;
}

@mixin style2($width, $heigth) {
  width: $width;
  height: $heigth;
}

* {
  font-family: $fontFamily;
}
.profile {
  background-color: $colorLight;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
