@import "../../variable.scss";

* {
  font-family: $fontFamily;
}

body {
  background: $colorLight;
}

.logo {
  height: 50%;
  width: 100%;
  display: inline-block;
  background: $gradient90deg;
}

.buttons-home {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  background: $gradient90deg;
  height: 100vh;
}

@mixin style($backgroundcolor, $width, $height, $font-size, $margin-bottom) {
  background: $backgroundcolor;
  width: $width;
  height: $height;
  font-size: $font-size;
  margin-bottom: $margin-bottom;
}

.style-button {
  @include style($colorLight, 70vw, 12vh, 1.6rem, 3vh);
  border: 2.4px solid $colorDark;
  border-radius: 8px 48px;
  box-shadow: 0px 4px 4px 0px $colorDark;
  color: $colorDark;
}

@media screen and (min-width: 600px) {
  .logo {
    width: auto;
    height: 60vh;
  }
  .buttons-home {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  .style-button {
    width: 22vw;
    height: 8vh;
    margin: 1vh;
  }
}
