@import "../../variable.scss";

* {
  font-family: $fontFamily;
}

body {
  background: $colorLight;
}

.logo {
  height: auto;
  width: 100%;
  display: inline-block;
}

.company {
  font-size: 3.6rem;
  font-family: $fontFamily;
  color: white;
}

.slogan {
  font-size: 1.2rem;
  font-family: $fontFamily;
  color: white;
  margin-bottom: 6vh;
}
.buttons-home {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  background: $gradient90deg;
  height: 100vh;
}

@mixin style($backgroundcolor, $width, $height, $font-size, $margin-bottom) {
  background: $backgroundcolor;
  width: $width;
  height: $height;
  font-size: $font-size;
  margin-bottom: $margin-bottom;
}

.style-button {
  @include style($colorLight, 70vw, 12vh, 1.6rem, 3vh);
  border: 2.4px solid $colorDark;
  border-radius: 8px 48px;
  box-shadow: 0px 4px 4px 0px $colorDark;
  color: $colorDark;
}

@media screen and (min-width: 600px) {
  .logo {
    width: auto;
    height: 50vh;
  }

  .company {
    font-size: 5.3rem;
    font-family: $fontFamily;
    color: white;
    margin-top: 0;
  }

  .slogan {
    font-size: 1.8rem;
    font-family: $fontFamily;
    color: white;
    margin-bottom: 1.5vh;
  }

  .buttons-home {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  .style-button {
    width: 40vw;
    height: 6vh;
    margin: 1vh;
  }
}
