@import "../../variable.scss";

* {
  margin: 0;
}

.chargepointBookAll {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: $colorLight;
  border: 1px $colorDark solid;
  border-radius: 10px;
}

.stationName {
  font-family: $fontFamily;
  font-size: 1.6rem;
  color: $colorLight;
  text-shadow: $textDropShadow;
  background: $gradient90deg;
  border: solid $colorDark 2px;
  box-shadow: $colorDark 5px 7px 15px 1px;
  border-radius: 10px 50px;
  width: 70vw;
  text-align: center;
  padding-bottom: 0;
  margin-bottom: 4vh;
  margin-left: 3vh;
}
.stationInfos {
  background-color: $colorPrimary_trans;
  border-radius: 10px;
  font-family: $fontFamily;
  font-size: 1rem;
  line-height: 2rem;
  text-align: center;
}

.date,
.time {
  display: inline-block;
  margin-right: 2rem;
}

.adressStation {
  display: block;
}

.plugList {
  padding: 0 1rem;
}
.typePlugItem {
  display: inline-block;
  margin: 0.1rem;
}
.imgPlug {
  height: 3vh;
  margin-bottom: -0.4rem;
}
.book {
  font-family: $fontFamily;
  font-size: 1.5rem;
  color: $colorLight;
  background: $gradient90deg;
  border: solid $colorDark 2px;
  box-shadow: $colorDark 5px 7px 15px 1px;
  border-radius: 10px 50px;
  width: 35vw;
  text-shadow: $textDropShadow;
  align-self: flex-end;
}

@media screen and (min-width: 600px) {
  .book {
    align-self: center;
    width: 20vw;
    font-size: 2rem;
  }

  .stationName {
    font-size: 2.5rem;
    width: 35vw;
  }

  .stationInfos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
  }

  .chargepointBookAll {
    width: 50vw;
    margin: auto;
  }
}
