@import "../../variable.scss";

.dialogContent ul {
  all: unset;
}

.station_mc {
  position: relative;
  box-sizing: border-box;
  height: 5rem;
  margin-bottom: 1.5rem;
  border-radius: 10px;
  box-shadow: $boxShadow_inv;
  display: grid;
  grid-template-columns: 25% 30% 1fr 15%;
  grid-template-rows: 1fr 55%;
  align-items: center;
  border: double 1.5px transparent;
  background-image: linear-gradient($colorLight, $colorLight), $gradient180deg;
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.station_mc_logo {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.25rem 0.4rem;
  background: $gradient90deg;
  border-radius: 10px;
  box-shadow: $boxShadow_inv;
  grid-area: 1 / 1 / 3 / 2;
  justify-self: center;
}

.plug-type_logo {
  width: 2.2rem;
  height: auto;
  grid-area: 2 / 4 / 3 / 5;
  justify-self: center;
}

.station_mc h2 {
  grid-area: 1 / 2 / 2 / 4;
  margin: 0;
  align-self: end;
  font-weight: normal;
  font-size: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.station_mc_distance {
  grid-area: 2 / 2 / 3 / 3;
  margin: 0;
}

.station_mc_plugtype {
  grid-area: 2 / 3 / 3 / 4;
  margin: 0;
  justify-self: end;
}

.chooseStation {
  font-family: $fontFamily;
  font-size: 13px;
  color: $colorDark;
  background: linear-gradient(90deg, $colorPrimary 0%, $colorSecondary 100%);
  border: solid #525b5a 2px;
  box-shadow: none;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 3rem;
  height: 1.7rem;
  padding-left: 0.1rem;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
