* {
  margin: 0;
}
.leaflet-container {
  height: 100vh;
}

.searchBar {
  position: absolute;
  top: 3vh;
  left: 50vw;
  transform: translate(-50%);
  z-index: 498;
}

.searchLabel {
  position: absolute;
  z-index: 0;
}

@media screen and (min-width: 800px) {
  .searchBar {
    width: 25vw;
  }
}
